<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row animated fadeIn">
    <div class="col-2">
        <img [src]="imagen | noimage" alt="" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3> {{ nombreCategoria }}</h3>
        <p>
            {{ descripcionCategoria }}
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/home" class="btn btn-outline-danger">
            Regresar
        </button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <h3>Populares</h3>
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of playlist">
                    <td>
                        <img [src]="item.track.album.images | noimage" alt="" class="img-thumb">
                    </td>
                    <td> {{ item.track.album.name }} </td>
                    <td> {{ item.track.name }} </td>
                    <td>
                        <iframe [src]=" item.track.uri | domseguro " width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>