<div class="row m-5 animated fadeIn">
    <div class="col">
        <h2>Explorar Categorías</h2>
        <hr />
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 m-5 animated fadeIn">
    <div (click)="verPlaylists( item.id )" class="col mb-4" *ngFor="let item of items">
        <div class="card h-100 puntero">
            <img [src]="item.icons | noimage" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title"> {{ item.name }} </h5>
            </div>
        </div>
    </div>
</div>