<div class="row">
    <div class="col-sm mb-5">
        <div class="float-right">
            <button routerLink="/home" class="btn btn-outline-danger">
                Regresar
            </button>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="row row-cols-1 row-cols-md-3 animated fadeIn">
    <div (click)="verPlaylist( playList )" *ngFor="let playList of playlistCategorias" class="col mb-4 puntero">
        <div class="card h-100">
            <img [src]=" playList.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{ playList.name }} </h5>
                <p class="card-text"> {{ playList.description }}</p>
            </div>
        </div>
    </div>
</div>