<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>
        {{ mensajeError }}
    </p>
</div>

<app-categorias *ngIf="!loading" [items]="categorias"></app-categorias>

<div *ngIf="!loading" class="row m-5">
    <div class="col">
        <h2>Ultimos lanzamientos</h2>
        <hr />
    </div>
</div>
<app-tarjetas *ngIf="!loading" [items]="nuevasCanciones"></app-tarjetas>